.social {
    padding: 14px 0px 17px;
    background-color: #F8EFEF;
}
.social__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.social__text {
    /* /* max-width: 365px; */
    width: 365px; 
    margin-right: 15px;
}
.social__subtitle {
    color: #86878B;
    font-size: 14px;
    font-weight: 400;
    }
.social__title{
    margin-bottom: 14px;
    color: #333;
    font-size: 20px;
    font-weight: 700;
    }
.social__nav{
    width: 684px;
}
.social__nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.social__nav-link a {
    display: block;
}
.social__nav-list i {
    font-size: 42px;
    color: #86878B;
}
.social__nav-list i:hover{
    transform: scale(1.1) rotate(360deg);
    transition: 0.4s;
}
.social__nav-list i:active{
   color:black;
}